ngb-tabset {
  width: 100%;
}
.content {
  margin-top: 3rem;
}
.table {
  display: table !important;
}
th:first-child {
  padding-left: 1rem !important;
}
tbody>tr>td:first-child {
  padding-left: 1rem !important;
}
th:last-child {
  padding-right: 1rem !important;
}
tbody>tr>td:last-child {
  padding-right: 1rem !important;
}
ol {
  padding-left: 1rem;;
}
#loginForm{
  margin: 25px auto 0px auto;
}
.navigation__menu {
  min-height: 3.75rem;
}
